button{
    background-color: #835AFD;
    color: #FEFEFE;

    font-weight: 500;
    border: none;
    
    transition: filter 0.2s;

    &:not(:disabled):hover{
        filter: brightness(0.8);
    }

    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

    img{
        margin-right: 0.5rem;
    }
}