.button {
    height: 50px;
    color: #FFF;
    padding: 0 32px;
    
    font-weight: 500;
    background: #835afd;

    border-radius: 8px;
    border: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;  
    transition: filter 0.2s;
  
    img {
      margin-right: 0.5rem;
    }

    &.outlined {
      background: #fff;
      border: 1px solid #835afd;
      color: #835afd;
    }
  
    &:not(:disabled):hover {
      filter: brightness(0.9);
    }
  
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }