.container{
    width: 1440px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    aside{
        flex: 7;

        background-color: #835AFD;
        color: #fff;

        height:100%;
        width: 100%;
        padding: 120px 80px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            max-width: 320px;
        }

        strong{
            display: block;
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 0.5rem;
        }

        p{
            font-size: 24px;
            line-height: 32px;
            color: #F8F8F870;
            margin-top: 1rem;
        }
    }

    main{
        flex: 8;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 2rem;

        div{
            display: flex;
            flex-direction: column;
            align-items: stretch;

            text-align: center;

            width: 100%;

            max-width: 320px;

            > img{
                align-self: center;
            }

            h2{
                font-size: 24px;
                margin: 4rem 0 1.5rem;
                font-family: 'Poppins', sans-serif;
            }

            form{

                input{
                    background-color: #fff;
                    border: 1px solid #A8A8B3;
                    padding: 1rem;
                    margin-bottom: 1rem;

                    &::placeholder {
                        color: #A8A8B3;
                    }
                }
            }

            p{
                font-size: 14px;
                color: #737380;

                margin-top: 0.5rem;

                a{
                    color: #e559f9
                }
            }

            button{
                cursor: pointer;
            }

            button, input{
                display: flex;
                align-items: center;
                justify-content: center;

                width:100%;
                height: 50px;

                border-radius: 0.5rem;
            }
        }
    }
}